.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 996.43px;  
}
.header-cover {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    background-size: contain;       
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 672px;
    background: url('/static/img/ambulance.png');
}

.header-cover-text {
    margin-top: 25%;
    width: 700px;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
    text-shadow: 0px 17px 17px rgba(255, 255, 255, 0.25);
}

button {
    width: 150px;
    height: 45px;
    border-left: 15px solid #20D34A;
    border-right: 15px solid #20D34A;
    background: #283290;
    color: #FFFFFF;
    margin-left: 23%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.25);
    transition: all 200ms linear;
    text-transform: capitalize;
    cursor: pointer;
}

button:hover {
    background: #20D34A;
}

button:active {
    background: #20D34A;
}
.articles {
    background: #FBFCFE;
    margin-top: 772px;
    height: 672px;
}
.app-content {
    position: absolute;
    width: 100%;
}
.app-content > hr {
    border: 0px;
    position: absolute;
    width: 80px;
    height: 3px;
    margin-left: 53px;
    margin-top: 55px;
    background: #20D34A;
}
.articles > p {
    color: #283290;
    font-size: 32px;
}
.app-content > p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 75px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 95px;
}

.article-content {
    width: 580px;
    height: 410px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.25);
}
.article-content-header {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #283290;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 16px;
}

.article-read {
    width: 520px;
    line-height: 24px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #7B8898;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.article-content-a {
    cursor: pointer;
    color: #20D34A;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
}

.services {
   background: #283290; 
   margin-top: 1445px;
   height: 650px;
}

.services > p {
  color: #FBFCFE;
  font-size: 32px;
}

.services-content {
    width: 270px;
    height: 370px;
    background: #FFFFFF;
    border-bottom: 9px solid #20D34A;
    transition: transform .2s;
}

.services-content:hover {
    background: #f5f7fa;
    transform: scale(1.1); 
}

.service-img {
    height: 199px;
    width: 270px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px; 
}
.services-wrapper {
    margin-left: 85px;
    width: 1100px;
}

.services-content-text {
    text-align: center;
    position: absolute;
    margin-top: 213px;
    width: 269px;
}

.service-text1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
}

.service-text2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #7B8898;
}

.intro {
    background: #FBFCFE;
    margin-top: 2094px;
    height: 520px;
}
.intro-header {
    line-height: 40px;
    color: #283290;
    font-size: 32px;
}

.intro > span > p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    width: 1000px;
    font-size: 19px;
    margin-top: 45px;
    margin-left: 125px;
    line-height: 36px;
    text-align: center;
    color: #7B8898;
}

.consult {
    background-size: contain;       
    background-repeat:   no-repeat;
    background-position: center center; 
    background: url('/static/img/self.png');
    margin-top: 2615px;
    height: 450px;
    box-shadow:inset 0 0 0 2000px rgba(79, 81, 202, 0.3);
}
.consult-text {
    margin-top: 180px;
}
.consult-text1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1px;
    color: #000000;
    text-align: center;   
}

.consult-text2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.consult > button {
    margin-left: 43%;
    margin-top: 35px;
}

.home-footer1 { 
    margin-top: 3065px;
}

.home-footer2 {
    margin-top: 3545px;
}