<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Life Aid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900|Oswald:400,600,700,900|Open+Sans:800" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/about.css">
    </head>

    <body>
            <div class="wrapper"> 
                    <section class="header">
                        <img class="logo" src="../../public/img/Group 2.png" alt="Smiley face" >
                         <div class="nav bottomNav">
                            <ul class="nav-listitem">
                                <li><a class="listitem" href="./home.html">Home</a></li>
                                <li><a class="listitem" href="#">About Us</a></li>
                                <li><a class="listitem" href="./services.html">Services</a></li>
                                <li><a class="listitem" href="./home.html#articles">Articles</a></li>
                                <li><a class="listitem" href="./home.html#contact">Contact</a></li>
                                <li><a class="listitem" href="./login.html">Login</a></li>
                            </ul>
                        </div>
                        <div class="nav topNav">
                            <span class="emergence-number-container"><p class="emergence-number">For Emergencies: +563 47558 623</p></span>
                        </div>
                       
                        <div class="header-cover">
                          <span  class="header-cover-text"><p class="text1">About </p> <p class="text2">LifeAID</p></span>
                          <p class="desc">Home  /  About Lifeaid</p>
                        </div>
                    </section>
                    <section class="intro app-content">
                        <hr>
                        <p class="intro-header">A great knowledge of what to do during emergencies<br> can save you alot of deaths there’s why;</p>
                        <span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc non blandit massa enim. Donec enim diam vulputate ut pharetra sit. Id faucibus nisl tincidunt eget nullam. Vitae congue eu consequat ac felis donec et odio pellentesque. Cursus vitae congue mauris rhoncus aenean vel elit. Dui faucibus in ornare quam viverra. In est ante in nibh mauris cursus. Vel pharetra vel turpis nunc eget lorem. Purus ut faucibus pulvinar elementum.Nunc non blandit massa enim. Donec enim diam vulputate ut pharetra sit. Id faucibus nisl tincidunt eget nullam. Vitae congue eu consequat ac felis donec et odio pellentesque. Cursus vitae congue mauris rhoncus aenean vel elit Nibh ipsum consequat nisl vel pretium.Vitae congue eu consequat ac felis donec et odio pellentesque. Cursus vitae congue mauris rhoncus aenean vel elit. Dignissim sodales ut eu sem integer.<br><br><br> <button>READ MORE</button></p>
                          <div class="animation-container">
                            <div class="animation-content">
                            <div class="animation-circle" id="loader"></div>
                            <div class="animation-circle" id="loader2"></div>
                            <span id="loader-text">95%</span>
                            <p>Hardwork</p>
                          </div>
                          <div class="animation-content">
                              <div class="animation-circle" id="loader"></div>
                              <div class="animation-circle" id="loader2"></div>
                              <span id="loader-text">95%</span>
                              <p>Passion</p>
                          </div>
                          <div class="animation-content">
                              <div class="animation-circle" id="loader"></div>
                              <div class="animation-circle" id="loader2"></div>
                              <span id="loader-text">95%</span>
                              <p>Dedication</p>
                          </div>
                          </div>
                        </span>
                   </section>
                     <section class="services app-content">
                      <hr>
                      <p>Testimonals</p>
                      <div class="testimonal-wrapper services-wrapper">
                          <div class="testimonal-content">
                              <i class="fas fa-quote-left qoute"></i>
                              <p class="test">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet torto.Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
                              <p class="test-name">~ Isimeme Iwu, <i>Client ~</i></p>
                          </div>
                          <div class="testimonal-content">
                              <i class="fas fa-quote-left qoute"></i>
                              <p class="test">Slor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet torto.</p>
                              <p class="test-name">~ Oluwa Ayo, <i>Client ~</i></p>
                            </div>
                      </div>
                 </section>
                 <section class="team app-content">
                    <hr>
                    <p class="intro-header">Meet Our Team</p>
                    <div class="team-img-container">
                      <div class="team-img-content">
                          <img class="team-mem" src="../../public/img/faithy.png" alt="Smiley face" >
                          <span class="team-details details1">
                            <p class="name">Faith Omojola</p>
                            <p class="role">CEO,<i> LifeAID</i></p>
                          </span>
                      </div>
                      <div class="team-img-content">
                          <img class="team-mem" src="../../public/img/Meme.png" alt="Smiley face" >
                          <span class="team-details details2">
                              <p class="name">Chimereucheya Okereke</p>
                              <p class="role">Team Lead,<i> LifeAID</i></p>
                          </span>
                      </div>
                      <div class="team-img-content">
                          <img class="team-mem" src="../../public/img/mira.png" alt="Smiley face">
                          <span class="team-details details3">
                              <p class="name">Miracle Ayodele</p>
                              <p class="role">CTO,<i> LifeAID</i></p>
                            </span>
                      </div>
                    </div>
               </section>
                 <section class="consult app-content">
                    <div class="consult-text">
                    <p class="consult-text1">Need A Personal Health Plan? or A Counselling Session?</p>
                    <p class="consult-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <button>READ MORE</button>
                   </section>
                    <section class="footer">
                            <div class="footer1 app-content" id="contact">
                                 <img class="logo logo-footer" src="../../public/img/Group 2.png" alt="Smiley face" >
                                <div class="footer1-text">
                                     <p class="footer1-text1">Lorem ipsum dolor sit amet, conse ctetur adipiscing<br> elit. Curabitur ante leo, finibus quis est ut, tempor<br> tincidunt ipsum.</p>
                                     <span class="reachout-container"><i class="fas fa-phone-volume phone"></i> +45 677 8993 223</span><br>
                                     <span class="reachout-container"><i class="far fa-envelope-open envelope"></i>office@lifeaid.com</span><br>
                                     <span class="reachout-container"><i class="fas fa-map-marker-alt address"></i>8 Kelvin Str. Los Angeles, CA</span>
                                </div>
                                <div class="footer1-text2 footer-texts">
                                    <p class="footer1-text2-header">Useful Links</p>
                                    <div class="useful-links-wrapper">
                                         <ul class="useful-links">
                                                 <li><a>Testimonials</a></li>
                                                 <li><a>FAQ</a></li>
                                                 <li><a>Terms & Conditions</a></li>
                                                 <li><a>Our Partners</a></li>
                                                 <li><a>Services</a></li>
                                             </ul>
                                             <ul class="useful-links links2">
                                                     <li><a>Free Services</a></li>
                                                     <li><a>About us</a></li>
                                                     <li><a>News</a></li>
                                                     <li><a>Contact</a></li>
                                                     <li><a>Feedback</a></li>
                                                 </ul>
                                    </div>
                                </div>
                                <div class="footer1-text3 footer-texts">
                                    <p class="footer1-text2-header">More Interesting Reads...</p>
                                 <div class="reads-container">
                                     <div class="reads-link"><a>Aliquam ac eleifend metus</a>
                                         <p>May 25, 2019</p></div>
                                 </div>
                                 <div class="reads-link"><a>Donec in libero sit amet mi vulputate</a>
                                     <p>May 25, 2019</p></div>
                                 <div class="reads-link"><a>Aliquam ac eleifend metus</a>
                                  <p>May 25, 2019</p></div>
                             </div>
                                </div>
                            <div class="footer2 app-content">
                                <div class="footer2-content"><p class="copyright">Copyright ©2019 All rights reserved | This template is made with <i class="far fa-heart"></i> by <a>LifeAID</a>  
                                </p></div>
                                <div class="icons">
                                  <i class="fab fa-instagram"></i>
                                  <i class="fab fa-facebook-f"></i>
                                  <i class="fab fa-twitter"></i>
                                  <i class="fab fa-linkedin-in"></i>
                                </div>
                            </div> 
                    </section>
              </div>
    </body>

</html>
        